@using Humanizer
@model TodoViewModel

@*
   For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Manage your todo list";
}

<div class="panel panel-default todo-panel">
    <div class="panel-heading">@ViewData["Title"]</div>

    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>

        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <form asp-action="MarkDone" method="POST">
                        <input type="checkbox" class="done-checkbox">
                        <input type="hidden" name="id" value="@item.Id">
                    </form>
                </td>
                <td>@item.Title</td>
                <td>@item.DueAt.Humanize(culture:new System.Globalization.CultureInfo("zh-CN"))<td>
            </tr>
        }
    </table>

    <div class="panel-footer add-item-form">
        @await Html.PartialAsync("AddItemPartial", new TodoItem())
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Wire up all of the checkboxes to run markCompleted()
        $('.done-checkbox').on('click', function (e) {
            markCompleted(e.target);
        });
    });

    function markCompleted(checkbox) {
        checkbox.disabled = true;

        var row = checkbox.closest('tr');
        $(row).addClass('done');

        var form = checkbox.closest('form');
        form.submit();
    }
</script>