@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "First Page";
    UserInfo userInfo = System.Text.Json.JsonSerializer.Deserialize<UserInfo>(Context.Session.GetString("CurrentUserSession"));
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>ID:@(userInfo.ID) </p>
    <p>Name:@(userInfo.Name) </p>
    <p>Email:@(userInfo.Email) </p>
</div>
